<li class="span3">
  <div class="thumbnail">
    <figure>
      <%= filepicker_image_tag fail_order.menu.dishes.first.photos.first.url, w: 275, h: 275, fit: 'clip' %>
      <figcaption class="top">
        <h6><%= fail_order.menu.name %></h6>
      </figcaption>
      <figcaption class="bottom">
        <h6><%= fail_order.user.name %></h6>
      </figcaption>
    </figure>
    <div class="thumbnail-label">
      <p><%= link_to fail_order.menu.name, fail_order %></p>
    </div>
  </div>
</li>
