<li class="span3">
  <div class="thumbnail">
    <figure>
      <%=image_url, w: 275, h: 275, fit: 'clip' %>
      <figcaption class="top">
        <h6><%= caption_top %></h6>
      </figcaption>
      <figcaption class="bottom">
        <h6><%= caption_bottom %></h6>
      </figcaption>
    </figure>
    <div class="thumbnail-label">
