<%= link_to 'New Dish', new_dish_path if user_signed_in? %>

<h1>Home Page</h1>

<ul class="thumbnails">
<%= render(
partial: "my_dishes",
collection: @dishes, as: :dish,
layout: "thumbnails"
) %>
</ul>