<%= link_to 'New Dish', new_dish_path %>

<h1>Dishes Directory</h1>

<ul class="thumbnails">
<% @dishes.each do |dish| %>
		<% if dish.photos.first %>
			<li class="span4">
				<%= filepicker_image_tag dish.photos.first.url, w: 160, h: 160, fit: 'clip' %>
				<p><%= link_to dish.name, dish %></p>
			</li>
		<% end %>
<% end %>

</ul>

